# {{ ansible_managed }}

[program:gunicorn]
command=/usr/local/bin/gunicorn --timeout {{ gunicorn_timeout }} --workers 3 --bind unix:{{ gunicorn_todo_sock_path }} todo.wsgi:application
directory={{ product_dir }}
environment=DJANGO_SETTINGS_MODULE={{ settings }},PYTHONPATH={{ pythonpath }},LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
user={{ nginx_user }}
group={{ nginx_group }}
startsecs=10
startretries=30
redirect_stderr=true
stdout_logfile={{ gunicorn_log }}
stdout_logfile_maxbytes={{ 0 if is_prd else '5MB' }}
stdout_logfile_backups=0
